:root{
  --dark-blue: #064EA4;
  --bright-yellow: #fcdf69;
  --pink-red: #f99d76;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
}

.container{
  max-width: 85%;
}

#hero-img > svg{
  height: clamp(250px, 50vw, 500px);
}

#hero-text{
  font-size: clamp(2rem, 4vw, 5rem);
}

#pink-text{
  color: var(--pink-red);
}

.bg-blue{
  background-color: var(--dark-blue);
}

.uploadButton{
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  min-width: 121px;
  text-align: center;
}

.uploadButton:hover{
  background-color: rgba(252, 223, 105, 0.8);
  transition: all 0.3s ease-in-out;
}

.contactButton{
  background-color: var(--pink-red);
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  min-width: 121px;
  text-align: center;
}

.contactButton:hover{
  background-color: rgba(249, 157, 118, 0.8);
  transition: all 0.3s ease-in-out;
}

.navbar-offcanvas{
  background-color: var(--dark-blue);
  color: #FFFFFF;
}

.nav-link{
  color: #FFFFFF;
}

.dropdown-menu{
  background-color: #d7e7fb;
}

.dropdown-item{
  color: var(--dark-blue);
}

.search-button > button{
  background-color: var(--bright-yellow);
  border-radius: 30px 30px;
}

.search-button > input{
  border-radius: 30px 30px;
}
.search-button > input::placeholder{
  color: #AAAAAA !important;
}

#partner{
  margin-top: -1px;
}

#text-partner{
  color: #D2D2D2;
}

.jobs{
  background-color: #D7E7FB;
  margin-top: -1px;
  color: var(--dark-blue);
}

#job-text{
  font-size: clamp(2rem, 3vw, 4rem);
}

.skill-text{
  font-size: 0.8rem;
}

.swiper-wrapper > div{
  border-radius: 30px;
}

.swiper-wrapper{
  color: var(--dark-blue);
}

.swiper-wrapper > div:nth-child(3n+1){
  background-color: var(--bright-yellow);
  .view-job-button:hover{
    background-color: var(--dark-blue);
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
  }
}

.swiper-wrapper > div:nth-child(3n+2){
  background-color: var(--dark-blue);
  color: #FFFFFF;
  .job-icons{
    fill: #FFFFFF;
  }
  .view-job-button:hover{
    background-color: var(--pink-red);
    transition: all 0.3s ease-in-out;
  }
}

.swiper-wrapper > div:nth-child(3n+3){
  background-color: var(--pink-red);
  .view-job-button:hover{
    background-color: var(--bright-yellow);
    transition: all 0.3s ease-in-out;
  }
}

.job-icons{
  fill: var(--dark-blue);
  svg{
    width: max(12px, 24px);
    height: max(12px, 24px);
  }
}

.view-job-button{
  font-family: 'Helvetica Neue Medium';
  color: var(--dark-blue);
  background-color: #FFFFFF;
  display: block;
  width: 100%;
  border-radius: 30px;
  padding: 15px 30px;
}

.job-date{
  font-size: 0.8rem;
}


@media only screen and (max-width: 768px) {
  #hero-img > img{
    max-height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 95%;
  }

  #hero-img > img{
    max-height: 250px;
  }
}
